* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #020702;
  color: #39ff6f;
  font-family: "Courier New", monospace;
}

.app {
  min-height: 100vh;
  padding: 30px 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #39ff6f;
  padding: 18px 30px;
}

.logo {
  color: #39ff6f;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0 0 10px #39ff6f;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  color: #39ff6f;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-shadow: 0 0 10px #39ff6f;
}

.login-button {
  border: 1px solid #39ff6f;
  padding: 10px 18px;
}

.page {
  padding-top: 80px;
}

.page h1 {
  font-size: 45px;
  text-shadow: 0 0 12px #39ff6f;
}

.page p {
  font-size: 18px;
  color: #b6ffc8;
}

.home {
  padding-top: 70px;
}

.hero {
  max-width: 800px;
  margin: 60px 0 100px;
}

.small-title {
  letter-spacing: 4px;
  font-size: 14px;
}

.hero h1 {
  font-size: 64px;
  margin: 15px 0;

  text-shadow:
    0 0 8px #39ff6f,
    0 0 20px #39ff6f;
}

.hero-description {
  max-width: 650px;

  color: #b6ffc8;

  font-size: 18px;

  line-height: 1.7;

  margin-bottom: 40px;
}

.main-button {
  display: inline-block;

  background: transparent;

  border: 2px solid #39ff6f;

  color: #39ff6f;

  text-decoration: none;

  padding: 15px 25px;

  font-weight: bold;

  transition: 0.3s;
}

.main-button:hover {
  background: #39ff6f;

  color: #020702;

  box-shadow: 0 0 20px #39ff6f;
}

.features {
  display: grid;

  grid-template-columns:
    repeat(3, 1fr);

  gap: 30px;

  margin-bottom: 80px;
}

.feature-card {
  border: 1px solid #39ff6f;

  padding: 30px;

  background:
    rgba(57, 255, 111, 0.03);

  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);

  box-shadow:
    0 0 20px
    rgba(57, 255, 111, 0.35);
}

.feature-card h2 {
  margin-top: 0;
}

.feature-card p {
  color: #b6ffc8;

  line-height: 1.6;
}

@media (max-width: 850px) {

  .app {
    padding: 20px;
  }

  .navbar {
    flex-direction: column;

    gap: 20px;
  }

  .nav-links {
    flex-wrap: wrap;

    justify-content: center;
  }

  .hero h1 {
    font-size: 42px;
  }

  .features {
    grid-template-columns: 1fr;
  }
}